doctype html
html
  head
    title Testing and playing with pug and scss 
    meta(name="description", content="This is just a personal learning methode while test and play with knowledge")
  body
    div Microorganisms can be patogen or no 
    label(for="section-1") Sectiunea 1
    input(type="checkbox" id="section-1")
    h1 Is a rainy day


    input(type="checkbox" id="section-2")
    h2 Tomorrow will be shinny

    img(src="/asset/image/beach-view-on-cloudy-day.jpg", alt="beach on a cloudy day")
    img(src="/asset/image/blossom-tree.jpg", alt="a beautiful tree on spring")



    link(rel="stylesheet", href="style.css")
